header{
	font-size: 30px;
}

.link-color{
	color: orange;
}

li .active {
  background-color: green !important;
  color: blue;
}

main{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #002060;
}

h1{
	font-size: 80px;
	text-align: center;
	color: #F0FFFF;
}

.mainImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

}

.floating-text{
	position: absolute;
	top: 380px;
	left:450px;
	z-index: 90;
	font-size: 25px;
	color: white;
}

.image-blurred-edge {
	box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset; 
	#width: 300px;
	#height: 300px;
}

main{
	padding-top: 250px;
	padding-bottom: 800px;
}

.main-title{
  color: white;
  font-size: 100px;
  margin: auto;
  width: 100%;
  top: 75px;
  position: absolute;
  text-align: center;
  padding-bottom: 150px;
  z-index: 999;
}
.carousel-inner img {
  margin: auto;
}

.carousel-container{
	width: 100%;
	text-align:center;
	font-size: 60px;
	padding-bottom: 100px;
}

.section-style{
	#padding-top: 50px;
	color: white;
	text-align: center;
	font-size: 30px;
}

h1 {
	#padding-top: 50px;
	color: white;
	text-align: center;
	font-size: 40px;
}

.typewriter-font{
	font-family: American Typewriter, serif;
}

.testimonial{
	border-style: solid;
	border-color: orange;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

td{
	padding-left: 20px;
	padding-right: 20px;
}

.right-align{
	text-align: right;
	padding-right: 5px;
}

th{
	padding-left: 20px;
	padding-right: 20px;
}

footer{
	font-size: 30px;
	text-align: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    #display: inline-block;
    #background: transparent no-repeat center center;
    #background-size: 100% 100%;
    height: 50px !important;
    width: 50px !important;
    padding-top:150px;
}

footer{
	font-family: Arial, Helvetica, sans-serif;
}

